@{
    //ViewBag.Title = "Index";
}

<h2>Index</h2>

<h1 id="rdiv"></h1>
<h2 id="comp"></h2>
<center>
    <div class="container" id="list"></div>
</center>
<div id="dropdiv"></div>
<div id="c1"></div>
<div id="c2"></div>
<div id="style"></div>
<div id="rdt"></div>
<div id="dt"></div>
<script src="~/Scripts/react/react.min.js"></script>
<script src=@Url.Content("~/Scripts/js/First.jsx")></script>
<script src=@Url.Content("~/Scripts/js/Second.jsx")></script>
<script src=@Url.Content("~/Scripts/js/third.jsx")></script>
<script src=@Url.Content("~/Scripts/js/Drop.jsx")></script>
<script src=@Url.Content("~/Scripts/js/Comp1.jsx")></script>
<script src=@Url.Content("~/Scripts/js/Comp2.jsx")></script>
<script src=@Url.Content("~/Scripts/js/Date.jsx")></script>
<script src=@Url.Content("~/Scripts/js/titleR.jsx")></script>
<script src=@Url.Content("~/Scripts/js/bgColor.jsx")></script>

